butterworth==0.0.3
click==7.1.2
cycler==0.10.0
dlib==19.22.0
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
imutils==0.5.4
joblib==1.0.1
kiwisolver==1.3.1
llvmlite==0.36.0
matplotlib==3.4.2
numba==0.53.1
numpy==1.21.1
opencv-python-headless==4.5.3.56
Pillow==8.3.1
pyparsing==2.4.7
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-dateutil==2.8.2
python-dotenv==0.19.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
threadpoolctl==2.2.0
